.button-container {
    background-color: #f7fa3f;
    height: 200px;
    width: 250px;
    padding: 50px;
    padding-left: 10px;
    border-top-right-radius: 300px;
    margin: 10px;
  }
  
  .button-container1 {
    background-color: #f7fa3f;
    height: 200px;
    width: 250px;
    padding: 50px;
    border-bottom-left-radius: 300px;
    margin: 10px;
  }
  
  .button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #7ef56e;
    border: none;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
  }
  
  .button:hover {
    background-color: #1fc79d;
  }
  
  .button.calculate:hover {
    color: #0f0f0f;
  }
  
  .button.convert:hover {
    color: #0c0c0c;
  }
  
  .cardcontainer {
    background: url("background.jpg");
    background-size: cover;
    height: 100vh;
    padding: 150px;
  }
  
 
  
  .button-container1:hover {
    background-color: #e499be;
  }
  .button-container:hover {
    background-color: #e499be;
  }
  .heading
  {
    color:rgb(77, 74, 74);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(248, 156, 218);
    padding:10px;
    height:60px;
    border-radius: 10px;
   
  }